<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="errorfilepath" value="E:\FeedTester\SMC Applications\ULHSQLJobs\SQLJobErrors\" />
    <add key="completefilepath" value="E:\FeedTester\SMC Applications\ULHSQLJobs\SQLJobCompletionLogs\"/>
    <add key="daysback" value="60"/>
    <add key="ITWULH" value="server=SRV-ULHTest\SQLEXPRESS;database=ITWULH;uid=sysmax;pwd=Condor!"/>
    <add key="mCareULH" value="server=SRV-ULHTest\SQLEXPRESS;database=mCareULH;uid=sysmax;pwd=Condor!"/>
    <add key="PatientGlobalULH" value="server=SRV-ULHTest\SQLEXPRESS;database=PatientGlobalULH;uid=sysmax;pwd=Condor!"/>
    <add key="ITWULHCerner" value="server=SRV-ULHTest\SQLEXPRESS;database=ITWULHCerner;uid=sysmax;pwd=Condor!"/>
    <add key="mCareULHCerner" value="server=SRV-ULHTest\SQLEXPRESS;database=mCareULHCerner;uid=sysmax;pwd=Condor!"/> 
  </appSettings>
</configuration>